  {% extends 'base.html' %}

  {% block content %}
  <div class="table-responsive">
    <h2>Список аренд</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Клиент</th>
          <th>Даты</th>
          <th>Техника</th>
          <th>Статус</th>
        </tr>
      </thead>
      <tbody>
        {% for rental in active_rentals %}
          <tr onclick="window.location.href='{% url 'rental_detail' rental.id %}';" style="cursor: pointer;">
            <td>{{ rental.client.name }}</td>
            <td>{{ rental.start_date }} - {{ rental.end_date }}</td>
            <td>{{ rental.car }}</td>
            <td><span class="status-active">Активная</span></td>
          </tr>
        {% endfor %}
       {% for rental in upcoming_rentals %}
          <tr onclick="window.location.href='{% url 'rental_detail' rental.id %}';" style="cursor: pointer;">
            <td>{{ rental.client.name }}</td>
            <td>{{ rental.start_date }} - {{ rental.end_date }}</td>
            <td>{{ rental.car }}</td>
            <td><span class="status-upcoming">Ожидается</span></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="table-responsive">
    <h2>Список архивных аренд</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Клиент</th>
          <th>Даты</th>
          <th>Техника</th>
          <th>Статус</th>
        </tr>
      </thead>
      <tbody>
        {% for rental in archive_rentals %}
          <tr class="text-muted" onclick="window.location.href='{% url 'rental_detail' rental.id %}';" style="cursor: pointer;">
            <td>{{ rental.client.name }}</td>
            <td>{{ rental.start_date }} - {{ rental.end_date }}</td>
            <td>{{ rental.car }}</td>
            <td>Завершена</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    <style>
  /* Стили для статуса "Активная" */
  .status-active {
    display: inline-block;
    padding: 5px 10px;
    background-color: green;
    color: white;
    border-radius: 20px;
  }

  /* Стили для статуса "Ожидается" */
  .status-upcoming {
    display: inline-block;
    padding: 5px 10px;
    background-color: yellow;
    color: black;
    border-radius: 20px;
  }
  </style>
  {% endblock %}


