{% extends 'base.html' %}

{% block content %}
    <h1>Rental Calendar</h1>

    <div id="calendar-container" style="overflow-x: scroll;">
        <table class="table table-bordered table-striped" style="min-width: 100%; table-layout: fixed;">
            <thead>
                <tr>
                    <th style="width: 100px;">Car</th>
                    {% for date in dates %}
                        <th style="width: 100px;">{{ date }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for car_name, rentals in booked_dates.items %}
                <tr>
                    <td style="width: 100px;">{{ car_name }}</td>
                    {% for date in dates %}
                        {% if date in rentals|join:", " %}
                        <td class="booked" style="width: 100px; background-color: red; color: white;">
                            {% for rental in rentals %}
                                {% for key, value in rental.items %}
                                    {% if date in value %}
                                        <a href="/rental/info/{{ key }}">{{ key }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </td>
                        {% else %}
                        <td style="width: 100px;"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="create-rental-form" style="margin-top: 20px;">
        <h2>Create Rental</h2>
        <form method="post" action="/rental/create/">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
{% endblock %}
