{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <a href="{% url 'rental_list' %}" class="btn btn-primary mb-3">Назад к списку</a>
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">Информация об аренде</h4>
      <ul class="list-unstyled">
        <li><strong>Клиент:</strong> {{ rental.client }}</li>
        <li><strong>Спецтехника:</strong> {{ rental.car }}</li>
        <li><strong>Владелец техники:</strong> {{ rental.car.owner }}</li>
        <li><strong>Менеджер:</strong> {{ rental.manager.get_full_name }}</li>
        <li><strong>Дата начала:</strong> {{ rental.start_date }}</li>
        <li><strong>Дата конца:</strong> {{ rental.end_date }}</li>
        <li><strong>Оплата за смены:</strong> {{ total_salary }}</li>
        <li><strong>Строительный объект:</strong> {{ rental.build_object }}</li>
        <li><strong>Цена в час:</strong> {{ rental.tariff }}</li>
        <li><strong>Цена для дополнительного режима работы :</strong> {{ rental.extra_tariff }}</li>
      </ul>
    </div>
  </div>

    <!-- Новый столбец для файлов -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Файлы</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Название документа</th>
              <th>Загрузить</th>
              <th>Скачать</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Договор</td>
              <td>
                <form id="contractForm" class="upload-form" action="{% url 'upload_documents' rental.pk %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ document_form.contract_file }}
                  <button type="submit" class="btn btn-primary">Загрузить</button>
                </form>
              </td>
              <td>
                {% if rental.contract_file %}
                  <a href="{{ rental.contract_file.url }}" download>Скачать</a>
                {% else %}
                  Файл не загружен
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Счет</td>
              <td>
                <form id="invoiceForm" class="upload-form" action="{% url 'upload_documents' rental.pk %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ document_form.invoice_file }}
                  <button type="submit" class="btn btn-primary">Загрузить</button>
                </form>
              </td>
              <td>
                {% if rental.invoice_file %}
                  <a href="{{ rental.invoice_file.url }}" download>Скачать</a>
                {% else %}
                  Файл не загружен
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>УПД</td>
              <td>
                <form id="updForm" class="upload-form" action="{% url 'upload_documents' rental.pk %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ document_form.upd_file }}
                  <button type="submit" class="btn btn-primary">Загрузить</button>
                </form>
              </td>
              <td>
                <div class="file-links">
                  {% if rental.upd_file %}
                    <a href="{{ rental.upd_file.url }}" class="download-btn" data-url="{{ rental.upd_file.url }}" download>Скачать</a>
                  {% else %}
                    Файл не загружен
                  {% endif %}
                </div>
              </td>
            </tr>

            <tr>
              <td>ЭСМ-7</td>
              <td>
                <form id="esm7Form" class="upload-form" action="{% url 'upload_documents' rental.pk %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ document_form.esm7_file }}
                  <button type="submit" class="btn btn-primary">Загрузить</button>
                </form>
              </td>
              <td>
                <div class="file-links">
                  {% if rental.esm7_file %}
                    <a href="{{ rental.esm7_file.url }}" class="download-btn" data-url="{{ rental.esm7_file.url }}" download>Скачать</a>
                  {% else %}
                    Файл не загружен
                  {% endif %}
                </div>
              </td>
            </tr>

            <tr>
              <td>Путевой лист</td>
              <td>
                <form id="waybillForm" class="upload-form" action="{% url 'upload_documents' rental.pk %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ document_form.waybill_file }}
                  <button type="submit" class="btn btn-primary">Загрузить</button>
                </form>
              </td>
              <td>
                <div class="file-links">
                  {% if rental.waybill_file %}
                    <a href="{{ rental.waybill_file.url }}" class="download-btn" data-url="{{ rental.waybill_file.url }}" download>Скачать</a>
                  {% else %}
                    Файл не загружен
                  {% endif %}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Смены</h5>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>Оператор</th>
                <th>Режим работы</th>
                <th>Обед</th>
              </tr>
            </thead>
            <tbody>
              {% for shift in shifts %}
                <tr>
                  <td>{{ shift.date }}</td>
                  <td>{{ shift.start_time}} - {{shift.end_time }}</td>
                  <td>{{ shift.worker }}</td>
                  <td>
                      {% if shift.is_additional_mode %}
                          {{ shift.rental.car.work_mode }}
                      {% else %}
                          Стандартный
                      {% endif %}
                  </td>
                  <td>
                      {% if shift.dinner %}
                          +
                      {% else %}
                          -
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#addShiftModal">
      Добавить смену
    </button>
  </div>

  <!-- Модальное окно для добавления смены -->
  <div class="modal fade" id="addShiftModal" tabindex="-1" role="dialog" aria-labelledby="addShiftModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addShiftModalLabel">Добавить смену</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addShiftForm" action="{% url 'add_shift' rental.pk %}" method="post">
            {% csrf_token %}
            {{ shift_form.as_p }}
            <button type="submit" class="btn btn-primary">Добавить</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <style>
    /* Стили для кнопок */
    .btn-primary {
      background-color: #007bff;
      color: #fff;
    }

    .btn-primary:hover,
    .btn-primary:focus {
      background-color: #0056b3;
      color: #fff;
    }

    .btn-primary:active {
      background-color: #0056b3;
      color: #fff;
      box-shadow: none;
    }
  </style>
  <script>
    // Обработка отправки формы добавления смены через AJAX
    $(document).ready(function () {
      $('#addShiftForm').on('submit', function (event) {
        event.preventDefault();
        var form = $(this);
        var formData = form.serialize();

        $.ajax({
          url: form.attr('action'),
          type: 'POST',
          data: formData,
          dataType: 'json',
          success: function (response) {
            // Обработка успешного ответа и закрытие модального окна
            $('#addShiftModal').modal('hide');
            // Здесь вы можете обновить часть страницы с информацией о сменах
            // в соответствии с полученным ответом, например, перезагрузить часть страницы
            // или обновить содержимое через JavaScript
            location.reload(); // Пример: перезагрузка страницы
          },
          error: function (response) {
            // Обработка ошибок при добавлении смены
            // Здесь вы можете показать пользователю сообщение об ошибке или выполнить другую обработку ошибки
            console.log(response.responseJSON.errors);
          }
        });
      });
    });
  </script>

  <script>
$(document).ready(function () {
    // Обработка отправки формы загрузки документа через AJAX
    $('form[id^="contractForm"]').on('submit', function (event) {
        event.preventDefault();
        var form = $(this);
        var formData = new FormData(form[0]);

        $.ajax({
            url: form.attr('action'),
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: function (data) {
                // Обновляем список документов на странице
                var fileUrl = data.contract_file.file_url;
                var fileName = data.contract_file.file_name;
                var downloadLink = '<a href="' + fileUrl + '" download>' + fileName + '</a>';
                form.closest('tr').find('.file-links').html(downloadLink);

                // Очищаем форму загрузки документа после успешной загрузки
                form[0].reset();
            },
            error: function (response) {
                // Обработка ошибок при загрузке документа
                // Здесь вы можете показать пользователю сообщение об ошибке или выполнить другую обработку ошибки
                console.log(response.responseJSON.errors);
            }
        });
    });
});

      // Обработка клика по кнопке скачивания документа через AJAX
      $(document).on('click', '.download-btn', function (event) {
        event.preventDefault();
        var btn = $(this);
        var fileUrl = btn.data('url');

        $.ajax({
          url: fileUrl,
          type: 'GET',
          dataType: 'text',
          success: function (response) {
            // Скачивание файла с браузера
            var link = document.createElement('a');
            link.href = fileUrl;
            link.download = fileUrl.substr(fileUrl.lastIndexOf('/') + 1);
            link.click();
          },
          error: function (response) {
            // Обработка ошибок при скачивании файла
            console.log(response.responseJSON.errors);
          }
        });
      });
    });
  </script>
{% endblock %}
